

#studentConcernsForm div.ui.equal.width.form div.grouped.fields div.field {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 700;
}

.studentFormButton {
    margin-bottom: 10px !important;
}

@media screen and (max-width: 375px) {
    #dateDivs  div.field .ui.calendar .ui.labeled.input label{
        display: none;
    }
}
