
/*****************************
    DEFAULT ELEMENT CSS
******************************/

footer {
    position: fixed !important;
    bottom: 0;
    width: 100%
}


textarea {
    resize: none !important;
    outline-color: none !important;
}

.pusher {
    padding: 55px 10px 42px 10px !important;
    background-image: url("../img/background/LISDBackground.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/*CSS Specific to the new cards*/
.cardLinkTitle {
    height: 6em !important;
    padding: 5px 0 0 0;
    color: black !important;
}

.cardIcons {
    height: 100%;
    width: 100%;
}

#mainContentContainer {
    padding: 10px;
}

#mainRightSideBar > .ui.header{
    color: white;
    padding-left: 10px;
}

#techOrgCodeForm > .field > .ui.selection.dropdown,
#techOrgCodeForm > button{
    margin: 5px;
}



/****************************************
    SCREENS BETWEEN 0 AND 768PX LONG
******************************************/
@media only screen and (max-width: 768px) and (min-width: 0){

}

/*************************
    HEADER BAR CSS
*************************/

#mainLeftSideBar {
    padding: 20px 0 0 0;
}

.userSettingsToggle {
    margin: 5px 0 15px 10px;
}

.userSettingsToggle label {
    color: WHITE !important;
}

.userSettingsToggle input:checked~label{
    color: white !important;
}

#minLabeledInput {
    margin: 0 !important;
}

#maxLabeledInput {
    margin: 0 0 0 55px !important;
}

#minLabeledInput, #maxLabeledInput {
    width: 55px !important;
}

#subField {
    margin: 0 0 10px 0;
}

#headerBarStudentSearch>.results .category>.name{
    width:10% !important;
    background:0 0 !important;
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-size:1em !important;
    float:1em !important;
    float:left !important;
    padding:.4em 1em !important;
    font-weight:700 !important;
    color:rgba(0,0,0,.4) !important;
    display: block;
}

#bugReportButton {
    display: flex;
}

#headerBarUserInfo span, #headerBarUserInfo i {
    display: flex;
}

#headerBarUserInfo, #rightSideBarButton, leftSideBarButton {
    padding: .92857143em 1.14285714em;
    /* margin: 1rem 0; */
    margin: 0;
}

#topHeaderMenuBar {
    max-height: 3.5rem;
    padding: 5px;
    background-color: #03397F;
    width:100%
}

#topHeaderMenuBar .item {
    color: white;
}

#topHeaderMenuBar .item:hover {
    border: 1px solid white;
    border-radius: 5px !important;
}

#userInfoPopup .ui.header {
    background-color: #3c8dbc;
    color: white !important;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    /*min-height: 135px;*/
    /* min-width: 300px; */
    border-radius: 5px;
    padding: 0 0 !important;
}

#headerBarUserInfo > img {
    margin-top: 12px;
}

#userInfoPopupMainColumn div.ui.three.column.equal.height.divided.grid {
    padding-bottom: 15px;
}

#userInfoPopup .ui.small.centered.circular.image {
    font-size: 50px;
    padding-top: 5px;
}

#userInfoPopup .ui.header small {
    color: red;
    font-size : .9rem;
}

#userInfoPopup .column {
    text-align : center;
}

.user-footer .ui.two.very.padded.buttons a {
    background-color: grey;
    color: black;
    border: 1px solid black;
}

.user-footer .ui.two.very.padded.buttons a:hover {
    background-color: gray;
    color: black;
    border: 1px solid white;
}

#userInfoPopupMainColumn {
    padding: 0 !important;
}

@media only screen and (max-width: 768px) and (min-width: 0){
/*************************
        HEADER BAR CSS
    *************************/

    #headerBarStudentSearch>.results .category>.name{
        width:10% !important;
        background:0 0 !important;
        font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
        font-size:1em !important;
        float:1em !important;
        float:left !important;
        padding:.4em 1em !important;
        font-weight:700 !important;
        color:rgba(0,0,0,.4) !important;
        display: none;
    }

    #bugReportButton {
        display: none;
    }

    #headerBarUserInfo span, #headerBarUserInfo i {
        display: none;
    }

    #headerBarUserInfo, #rightSideBarButton, #leftSideBarButton{
        padding: 0;
        margin: 0 0 0 5px;
    }
}
