/************************
    Concerns Form
*************************/

#overFlowResults .results .content {
    background-color: lightgray;
    color: black;
    padding: 5px;
}

#overFlowResults {
    max-height: 300px;
}

#overFlowResults div.results a div.content {
    margin: 5px 0;
    background-color: rgb(206, 197, 197);
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
}

#overFlowResults div.results a div.content div.title {
    font-weight: BOLD;
    font-size: 16px;
}



#studentConcernsForm div.ui.equal.width.form div.grouped.fields div.field {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 700;
}

.studentFormButton {
    margin-bottom: 10px !important;
}

@media screen and (max-width: 375px) {
    #dateDivs  div.field .ui.calendar .ui.labeled.input label{
        display: none;
    }
}
