/************************
    Forms Tables
*************************/

.dtr-details {
    width: 100%;
}

table.dataTable tbody tr.child ul.dtr-details li {
    border-bottom-width: 5px !important;
    border-bottom-color: black;
    margin-bottom: 10px;
}

.child  li span.dtr-title {
    font-size: 16px;
}

.child ul li span.dtr-data div.ui.comments, .child ul li span.dtr-data p{
    margin-left: 30px;
}

.child ul li span.dtr-data  div.ui.comments .ui.header {
    position: relative;
    right: 30px
}

div[id*=paymentSatisfied] {
    margin-bottom: 10px;
}

div[id*=paymentSatisfied] div.ui.checkbox {
    margin-left: 70px;
}
/* div[id*=paymentSatisfied] div.ui.checkbox input {
    left: 21px;
    top: 1px;
} */

#paymentTypeField div.ui.dropdown.selection {
    margin-left: 53px;
}
#paymentField div.ui.labeled.input {
    margin-left: 10px;
}

#paymentSatisfied label,
#paymentTypeField label,
#paymentField label {
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

#statusField .ui.toggle.checkbox {
    margin-left: 30px;
}

form[name=addNoteToForm] div.required.field h3 span {
    color: red;
    margin-left: 10px;
    font-size: 15px;
}



.dtr-details li {
    padding: 0 10px 10px 10px !important;
}

span.dtr-data form div.required.field div.horizontal.grouped.fields div.field div.ui.toggle.checkbox {
    margin: 10px 0;
}

span.dtr-data form div.required.field textarea#note {
    overflow: hidden;
    outline: none;
}

span.dtr-data form button.ui.button {
    margin: 0 10px;

}

button.ui.primary.button.addNoteButton {
    margin-top: 10px;
}

#formsTable {
    width: 100% !important;
    background-color: #073772;
    border-radius: 5px;
    border-collapse: collapse;
}

#formsTable thead tr th {
    font-size: 20px !important;
}

#formsTable tbody tr td::before {
    left: 36% !important;
}

#multiConcern {
    word-wrap: unset
}

#formsTable tbody tr td a {
    color: darkslategray;
}

#formsTable tbody tr td a:hover {
    color: white;
}

#formsTable thead tr th, #formsTable tfoot tr th {
    background-color: goldenrod;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
    font-size: 24px;
    height:30px;
}

#formsTable tbody tr td {
    border-style: solid;
    /* border-width: 2px; */
    color: black;
}

#formsTable tbody tr {
    border-radius: 5px;
    height: 40px;

}

#formsTable tbody tr.child {
    text-align: left;
    padding-left: 10px;
}

#formsTable tbody tr.child::after{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

#formsTable tbody {
    background-color: white;
    text-align: center;
    font-size: 17;
}

.formsTableButtons {
    float: right !important;
}

.formsTableButtons .dt-buttons.ui.basic.buttons {
    margin: 10px 0 !important;
}

#formsTable_length {
    display: inline-block;
}

#formsTable_filter {
    margin-left: 15px !important;
    font-size: 15px;
    font-weight: bold;
}

#formsTable_filter label input,
.formsTableButtons div.dt-buttons.ui.basic.buttons button,
#formsTable_length label div.selection.ui.dropdown,
#formsTable_paginate div.ui.stackable.pagination.menu,
#formsTable tbody tr {
    background-color: darkgray !important;
}

#formsTable_info {
    display: inline-block;
    font-weight: bold;
    color: black;
    font-size: 15px;
}

#formsTable_paginate {
    float: right;
    margin-top: 5px;
}

#formsTable_length {
    font-size: 15px;
    font-weight: bold;
}

.childBox {
    width: 1px !important;
}

#mainContentContainter h2 div.ui.fluid.dropdown.selection.multiple {
    display: inline-block;
    width: 400px;
    font-size: 15px;

}

#listFilter {
    width: 1000px;
}

#filterControls {
    width: 100% !important;
}

#filterControls h3 {
    display: inline-block;
}

#filterControls h3 div {
    width: 1000px;
    max-width: 250px;
}

#paymentField {
    margin: 10px 0;
}
#statusField div {
    display: block;
    margin: 10px 0;
}

#statusField div label {
    font-weight: BOLD;
    font-size: 15px;
}

#mainContentContainter h2 {
    display:inline !important;
}

#bulkOfficePassButton {
    display: inline;
    margin-left: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: limegreen;
    font-weight: bold;
    font-size: 15px;
}

@media screen and (min-width: 480){
    #filterControls h3 div {
        width: 1000px;
        max-width: 500px;
    }
}
