.error{
    color: RED;
}

#loginSegment {
    width: 100%;
}

#loginForm {
    background-color: #cbcbcb;
}

#loginErrorMessageSegment {
    color: RED;
    background-color: lightcoral;
    text-align: left;
}

@media screen and (min-width: 769px) {
    #loginSegment {
        width: 60%;
        min-width: 200px;
        max-width: 600px;
        margin: auto auto;
        transform: translateY(35%);
    }
}

