
/*****************************
    DEFAULT ELEMENT CSS
******************************/

footer {
    position: fixed !important;
    bottom: 0;
    width: 100%
}

.pusher {
    padding: 55px 10px 42px 10px !important;
    background-image: url("../img/background/LISDBackground.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/*CSS Specific to the new cards*/
.cardLinkTitle {
    height: 6em !important;
    padding: 5px 0 0 0;
    color: black !important;
}

.cardIcons {
    height: 100%;
    width: 100%;
}

#mainContentContainter {
    padding: 10px;
}

/*************************
    HEADER BAR CSS
*************************/

#mainLeftSideBar {
    padding: 20px 0 0 0;
}

.userSettingsToggle {
    margin: 5px 0 15px 10px;
}

.userSettingsToggle label {
    color: WHITE !important;
}

.userSettingsToggle input:checked~label{
    color: white !important;
}

#minLabeledInput {
    margin: 0 !important;
}

#maxLabeledInput {
    margin: 0 0 0 55px !important;
}

#minLabeledInput, #maxLabeledInput {
    width: 55px !important;
}

#subField {
    margin: 0 0 10px 0;
}

#headerBarStudentSearch>.results .category>.name{
    width:10% !important;
    background:0 0 !important;
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-size:1em !important;
    float:1em !important;
    float:left !important;
    padding:.4em 1em !important;
    font-weight:700 !important;
    color:rgba(0,0,0,.4) !important;
    display: block;
}

#bugReportButton {
    display: flex;
}

#headerBarUserInfo span, #headerBarUserInfo i {
    display: flex;
}

#headerBarUserInfo, #rightSideBarButton, leftSideBarButton {
    padding: .92857143em 1.14285714em;
    /* margin: 1rem 0; */
    margin: 0;
}

#topHeaderMenuBar {
    max-height: 3.5rem;
    padding: 5px;
    background-color: #03397F;
    width:100%
}

#topHeaderMenuBar .item {
    color: white;
}

#topHeaderMenuBar .item:hover {
    border: 1px solid white;
    border-radius: 5px !important;
}

#userInfoPopup .ui.header {
    background-color: #3c8dbc;
    color: white !important;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    /*min-height: 135px;*/
    /* min-width: 300px; */
    border-radius: 5px;
    padding: 0 0 !important;
}

#headerBarUserInfo > img {
    margin-top: 12px;
}

#userInfoPopupMainColumn div.ui.three.column.equal.height.divided.grid {
    padding-bottom: 15px;
}

#userInfoPopup .ui.small.centered.circular.image {
    font-size: 50px;
    padding-top: 5px;
}

#userInfoPopup .ui.header small {
    color: red;
    font-size : .9rem;
}

#userInfoPopup .column {
    text-align : center;
}

.user-footer .ui.two.very.padded.buttons a {
    background-color: grey;
    color: black;
    border: 1px solid black;
}

.user-footer .ui.two.very.padded.buttons a:hover {
    background-color: gray;
    color: black;
    border: 1px solid white;
}

#userInfoPopupMainColumn {
    padding: 0 !important;
}


/*************************
    DASHBOARD CSS
*************************/

.toDoListItem {
    position: relative;
    margin: 0 20px 20px 0 !important;
    padding: 0 20px 0 0 !important;
    background-color: whitesmoke !important;
    width: 20% !important; 
}

.toDoListMenu {
    width: 100% !important;
    vertical-align: middle !important;
}

/************************
    Forms Tables
*************************/

#formsTable {
    width: 100% !important;
    background-color: #073772;
    border-radius: 5px;
}

#formsTable thead tr th, #formsTable tfoot tr th {
    background-color: goldenrod;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
    font-size: 24px;
}

#formsTable tbody tr td {
    border-style: solid;
    /* border-width: 2px; */
    color: black;
}

#formsTable tbody tr {
    border-radius: 5px;
    height: 40px;
    
}

#formsTable tbody tr.child {
    text-align: left;
    padding-left: 10px;
}

#formsTable tbody tr.child::after{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

#formsTable tbody {
    background-color: white;
    text-align: center;
    font-size: 17;   
}

.formsTableButtons {
    float: right !important;
}

.formsTableButtons .dt-buttons.ui.basic.buttons {
    margin: 10px 0 !important;
}

#formsTable_length {
    display: inline-block;
}

#formsTable_filter {
    margin-left: 15px !important;
    font-size: 15px;
    font-weight: bold;
}

#formsTable_filter label input, .formsTableButtons div.dt-buttons.ui.basic.buttons button, #formsTable_length label div.selection.ui.dropdown, #formsTable_paginate div.ui.stackable.pagination.menu, #formsTable tbody tr {
    background-color: darkgray !important;
}

/* .formsTableButtons .dt-buttons.ui.basic.buttons button {
    background-color: white !important;
} */

#formsTable_info {
    display: inline-block;
    font-weight: bold;
    color: black;
    font-size: 15px;
}

#formsTable_paginate {
    float: right;
    margin-top: 5px;
}

#formsTable_length {
    font-size: 15px;
    font-weight: bold;
}

.childBox {
    width: 1px !important;
}

/************************
    Concerns Form
*************************/

#overFlowResults .results .content {
    background-color: lightgray;
    color: black;
    padding: 5px;
}

#overFlowResults {
    max-height: 300px;
}


/****************************************
    SCREENS BETWEEN 0 AND 768PX LONG 
******************************************/
@media only screen and (max-width: 768px) and (min-width: 0){

    /*************************
        HEADER BAR CSS
    *************************/

    #headerBarStudentSearch>.results .category>.name{
        width:10% !important;
        background:0 0 !important;
        font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
        font-size:1em !important;
        float:1em !important;
        float:left !important;
        padding:.4em 1em !important;
        font-weight:700 !important;
        color:rgba(0,0,0,.4) !important;
        display: none;
    }

    #bugReportButton {
        display: none;
    }

    #headerBarUserInfo span, #headerBarUserInfo i {
        display: none;
    }

    #headerBarUserInfo, #rightSideBarButton, #leftSideBarButton{
        padding: 0;
        margin: 0 0 0 5px;
    }

}