#searchResultsDiv {
    width: 50%;
}

@media screen and (min-width: 320px){
    #searchResultsDiv {
        width: 100%;
    }
}

/******************
    Table Setting
********************/


#searchResultsTable {
    width: 100% !important;
    background-color: #073772;
    border-radius: 5px;
    border-collapse: collapse;
}

/***************************
    Table Header/Footer Settings
****************************/

#searchResultsTable thead tr th::after {
    top: 0 !important;
}

#searchResultsTable thead tr th,
#searchResultsTable tfoot tr th {
    background-color: goldenrod;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
    font-size: 20px;
    height:10px;

}

#searchResultsTable thead tr th:nth-child(1),
#searchResultsTable tfoot tr th:nth-child(1)
{
    width: 1px !important;
}

/************************************
    Table Body Settings
*************************************/

#searchResultsTable tbody {
    background-color: white;
    text-align: center;
    font-size: 17;
}

#searchResultsTable tbody tr {
    border-radius: 5px;
    height: 40px;
}

#searchResultsTable tbody tr.child {
    text-align: left;
    padding-left: 10px;
}

#searchResultsTable tbody tr.child::after{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

table.dataTable tbody tr.child:hover {
    background-color: gray !important;
}

#searchResultsTable tbody tr,
table.dataTable tbody tr.child:hover {
    background-color: gray;
}

#searchResultsTable tbody tr td {
    border-style: solid;
    color: white;
    border-color: black;
    border-collapse: collapse;
}

#searchResultsTable tbody tr td::before {
    left: 36% !important;
}


#searchResultsTable tbody tr td a {
    color: darkslategray;
}

#searchResultsTable tbody tr td:nth-child(1),
{
    width: 1px !important;
}
