
/*****************************
    DEFAULT ELEMENT CSS
******************************/

footer {
    position: fixed !important;
    bottom: 0;
    width: 100%
}


textarea {
    resize: none !important;
    outline-color: none !important;
}

.pusher {
    padding: 55px 10px 42px 10px !important;
    background-image: url("../img/background/LISDBackground.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/*CSS Specific to the new cards*/
.cardLinkTitle {
    height: 6em !important;
    padding: 5px 0 0 0;
    color: black !important;
}

.cardIcons {
    height: 100%;
    width: 100%;
}

#mainContentContainer {
    padding: 10px;
}

#mainRightSideBar > .ui.header{
    color: white;
    padding-left: 10px;
}

#techOrgCodeForm > .field > .ui.selection.dropdown,
#techOrgCodeForm > button{
    margin: 5px;
}



/****************************************
    SCREENS BETWEEN 0 AND 768PX LONG
******************************************/
@media only screen and (max-width: 768px) and (min-width: 0){

}
