
#adminIndividualUserContainer {
    margin: 10px 0;
}

#campusSettings {
    margin: 10px 0;
}

#detentionStartDate {
    margin-left: 94px !important;
}

#detentionKioskForm > div.inline.field > select {
    margin-left: 44px;
}

#daysServeInput {
    margin-left: 76px !important;
}

#detentionKioskForm > div.inline.field > input {
    margin-left: 62px;
}

.inline.field {
    margin-left: 20px !important;
}

#detentionKioskForm >  h2.ui.header, #detentionKioskForm > input[type='checkbox'] {
    display: inline !important;
    vertical-align: middle;
}

#detentionKioskForm >  h2.ui.header {
    margin-bottom: 10px;
}

#detentionKioskForm > input[type='checkbox'] {
    margin-right: 10px;
}


#detentionKioskForm > div > input {
    width: 45% !important;
}

div.ui.fluid.card {
    padding: 10px;
    background-color: whitesmoke;
}

.kioskError {
    background-color: rgb(247, 191, 191) !important;
    border-color: red !important;
    border-width: 2px !important;
    border-style: solid !important;
}


@media only screen and (max-width: 376px){
    #campusSettings {
        margin-top: 10px;

    }

    #detentionKioskForm > div.inline.field > select,
    #daysServeInput,
    #detentionKioskForm > div.inline.field > input,
    #detentionStartDate {
        margin-left: 0 !important;
        width: auto;
    }

}




/*********************************************
--------------- Admin Table Layout------------

Commenting out for now. Will come back at a
later date to finish. Was not what We need
at the time

**********************************************/

/* #adminTableContainer {
    margin: 10px 0;
    overflow: auto;
}

table {
    border: 3px solid black;
    background-color: rgb(180, 179, 179);
    border-collapse: collapse;
}

thead tr th {
    font-weight: bold;
    font-size: 15px;
}

td {
    text-align: center;
}

table tr td, table tr th {
    padding: 5px 5px;
}

.readColumn, .writeColumn{
    vertical-align: center;
    text-align: center;
    border-width: 3px;
    border-color: black;
    margin: 0;
}

.readColumn {
    border-style: solid none solid solid;
}

.writeColumn {
    border-style: solid solid solid none;
}

#reportHeader th, #readWriteHeader th, .userColumns{
    border-style: solid;
    border-width: 3px;
}

.oddRow {
    background-color: #073772;
    color: white;
    border-color: black;
}

.evenRow {
    background-color: #F1B51C;
} */
