/*************************
    DASHBOARD CSS
*************************/

.toDoListItem {
    position: relative;
    margin: 0 20px 20px 0 !important;
    padding: 0 20px 0 0 !important;
    background-color: whitesmoke !important;
    /* width: 20% !important; */
    white-space: nowrap;
    min-width: 260px;
    width: 355px;
    max-width: 700px;
    border-radius: 5px;
}
.toDoListItem .huge.item {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.toDoListMenu {
    width: 100% !important;
    vertical-align: middle !important;
}

.toDoListItem .content {
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 424px) and (min-width: 374px){
    .toDoListItem {
        width: 200px;
    }
}

@media screen and (max-width: 373px){
    .toDoListItem {
        width: 100px;
    }
}
